@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');
/* globals.css */
@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans:wght@400;700&display=swap');

@font-face {
  font-family: 'GeistMono';
  src: url('fonts/GeistVF.woff') format('woff');
 
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}
:root {
  --font-ropa-sans: 'Ropa Sans', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
