.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    margin-top: 40px;
    /* background-color: #2e3c4e; Dark gray background */
    color: #ffffff; /* White text */
    padding: 5px;
  }
  
  .backButton {
    align-self: flex-start;
    background: none;
    border: none;
    color: #87a3d0; /* Light blue */
    font-size: 24px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  .title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #87a3d0; /* Light blue */
    color: white; /* Base text color */
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 
                 0 0 20px rgba(255, 255, 255, 0.6), 
                 0 0 30px rgba(255, 255, 255, 0.4); /* Glowing effect */
    animation: glow 1.5s infinite alternate;
  }

  .glower{
    color: white; /* Base text color */
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 
                 0 0 20px rgba(255, 255, 255, 0.6), 
                 0 0 30px rgba(255, 255, 255, 0.4); /* Glowing effect */
    animation: glow 1.5s infinite alternate;
  }
  
  .form {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .input {
    width: 100%;
    padding: 10px 15px;
    font-size: 16px;
    border: 2px solid #87a3d0; /* Light blue */
    border-radius: 5px;
    background-color: #1f2b38; /* Darker gray */
    color: #ffffff;
    outline: none;
  }
  
  .input::placeholder {
    color: #87a3d0; /* Placeholder light blue */
  }
  
  .trackButton {
    padding: 12px 20px;
    font-size: 18px;
    font-weight: bold;
    margin-top: 5px;
    color: #ffffff;
    background: linear-gradient(to right, #4a90e2, #87a3d0); /* Blue gradient */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s;
  }
  
  .trackButton:hover {
    transform: scale(1.05);
  }
  
  .register {
    margin-top: 10px;
    color: #87a3d0; /* Light blue */
    font-size: 14px;
  }
  
  .registerLink {
    color: #4a90e2; /* Brighter blue */
    text-decoration: none;
  }
  
  .registerLink:hover {
    text-decoration: underline;
  }
  